@font-face {
    font-family: 'Montserrat Black';
    src: url("../fonts/montserrat/Montserrat-Black.ttf");
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: 'Montserrat ExtraLight';
    src: url("../fonts/montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: 'Montserrat Light';
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}


@font-face {
    font-family: 'FiraSans Black';
    src: url("../fonts/firasans/FiraSans-Black.ttf");
}

@font-face {
    font-family: 'FiraSans Bold';
    src: url("../fonts/firasans/FiraSans-Bold.ttf");
}

@font-face {
    font-family: 'FiraSans ExtraBold';
    src: url("../fonts/firasans/FiraSans-ExtraBold.ttf");
}

@font-face {
    font-family: 'FiraSans ExtraLight';
    src: url("../fonts/firasans/FiraSans-ExtraLight.ttf");
}

@font-face {
    font-family: 'FiraSans Light';
    src: url("../fonts/firasans/FiraSans-Light.ttf");
}

@font-face {
    font-family: 'FiraSans Medium';
    src: url("../fonts/firasans/FiraSans-Medium.ttf");
}

@font-face {
    font-family: 'FiraSans Regular';
    src: url("../fonts/firasans/FiraSans-Regular.ttf");
}


@font-face {
    font-family: 'FiraSans SemiBold';
    src: url("../fonts/firasans/FiraSans-SemiBold.ttf");
}

@font-face {
    font-family: 'FiraSans Thin';
    src: url("../fonts/firasans/FiraSans-Thin.ttf");
}